{% comment %} {% endcomment %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-xs-12">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <h4>
            <span class="heading-icon">
              <i class="fa fa-th-list"></i>
            </span>
            <span class="title">Properties List</span>
          </h4>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">Select</div>
      </div>
      {% comment %} Property {% endcomment %}

      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">Image</div>
        <div class="col-lg-7 col-md-7 col-sm-12">
          <h1>
            <a href="">Property Title</a>
          </h1>
          <h3>
            <a href=""> <i class="fa fa-map-marker"></i> 123 Kathal ST. </a>
          </h3>
          <ul class="">
            <li>
              <i
                class="flaticon-square-layouting-with-black-square-in-east-area"
              ></i>
              <span>4679 sq ft</span>
            </li>
            <li>
              <i class=""></i>
              <span>TV</span>
            </li>
            <li>
              <i class=""></i>
              <span>2 Baths</span>
            </li>

            <li>
              <i class=""></i>
              <span>1 Garage</span>
            </li>
            <li>
              <i class=""></i>
              <span>3 Balcony</span>
            </li>
          </ul>
        </div>
        {% comment %} Footer {% endcomment %}
        <div class="property-footer">
          <span class="left">
            <a href="#"><i class="fa fa-user"></i>Jhon Doe</a>
          </span>
          <span class="right"> <i class="fa fa-calendar"></i>5 Days ago </span>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-xs-12"></div>

    {% comment %} =========={% endcomment %}
    <div class="col-lg-8 col-md-12 col-xs-12">
      <!-- Option bar start -->
      <div class="option-bar">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5">
            <h4>
              <span class="heading-icon">
                <i class="fa fa-th-list"></i>
              </span>
              <span class="title">Properties List</span>
            </h4>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="sorting-options advanced-search">
              <div class="dropdown bootstrap-select search-fields sorting">
                <select
                  class="selectpicker search-fields sorting"
                  name="new-to-old"
                >
                  <option>New To Old</option>
                  <option>Old To New</option>
                  <option>Properties (High To Low)</option>
                  <option>Properties (Low To High)</option></select
                ><button
                  type="button"
                  tabindex="-1"
                  class="btn dropdown-toggle btn-light"
                  data-bs-toggle="dropdown"
                  role="combobox"
                  aria-owns="bs-select-1"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  title="New To Old"
                >
                  <div class="filter-option">
                    <div class="filter-option-inner">
                      <div class="filter-option-inner-inner">New To Old</div>
                    </div>
                  </div>
                </button>
                <div class="dropdown-menu">
                  <div
                    class="inner show"
                    role="listbox"
                    id="bs-select-1"
                    tabindex="-1"
                  >
                    <ul
                      class="dropdown-menu inner show"
                      role="presentation"
                    ></ul>
                  </div>
                </div>
              </div>
              <a
                href="properties-list-rightside.html"
                class="change-view-btn active-view-btn"
                ><i class="fa fa-th-list"></i
              ></a>
              <a href="properties-grid-rightside.html" class="change-view-btn"
                ><i class="fa fa-th-large"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Option bar end -->

      <!-- Property start -->
      <div
        class="property row g-0 fp2 clearfix wow fadeInUp delay-03s"
        style="visibility: visible; animation-name: fadeInUp"
      >
        <div class="col-lg-5 col-md-5 col-sm-12">
          <!-- Property img -->
          <div class="property-img">
            <div class="property-tag button alt featured">Featured</div>
            <div class="property-tag button sale">For Sale</div>
            <div class="property-price">$150,000</div>
            <img
              src="img/properties/properties-list-1.jpg"
              alt="fp-list"
              class="img-responsive hp-1"
            />
            <div class="property-overlay">
              <a href="properties-details.html" class="overlay-link">
                <i class="fa fa-link"></i>
              </a>
              <a class="overlay-link property-video" title="Lexus GS F">
                <i class="fa fa-video-camera"></i>
              </a>
              <div class="property-magnify-gallery">
                <a href="img/properties/properties-1.jpg" class="overlay-link">
                  <i class="fa fa-expand"></i>
                </a>
                <a href="img/properties/properties-2.jpg" class="hidden"></a>
                <a href="img/properties/properties-3.jpg" class="hidden"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 property-content">
          <div class="info">
            <!-- title -->
            <h1 class="title">
              <a href="properties-details.html">Beautful Single Home</a>
            </h1>
            <!-- Property address -->
            <h3 class="property-address">
              <a href="properties-details.html">
                <i class="fa fa-map-marker"></i>123 Kathal St. Tampa City,
              </a>
            </h3>
            <!-- Facilities List -->
            <ul class="facilities-list clearfix">
              <li>
                <i
                  class="
                    flaticon-square-layouting-with-black-square-in-east-area
                  "
                ></i>
                <span>4800 sq ft</span>
              </li>
              <li>
                <i class="flaticon-bed"></i>
                <span>3 Beds</span>
              </li>
              <li>
                <i class="flaticon-monitor"></i>
                <span>TV </span>
              </li>
              <li>
                <i class="flaticon-holidays"></i>
                <span> 2 Baths</span>
              </li>
              <li>
                <i class="flaticon-vehicle"></i>
                <span>1 Garage</span>
              </li>
              <li>
                <i class="flaticon-building"></i>
                <span> 3 Balcony</span>
              </li>
            </ul>
            <!-- Property footer -->
          </div>
          <div class="property-footer">
            <span class="left">
              <a href="#"><i class="fa fa-user"></i>Jhon Doe</a>
            </span>
            <span class="right">
              <i class="fa fa-calendar"></i>5 Days ago
            </span>
          </div>
        </div>
      </div>

      <!-- Pagination box start -->
      <div class="pagination-box text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Prev</a>
            </li>
            <li class="page-item">
              <a class="page-link active" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Pagination box end -->
    </div>

    <div class="col-lg-4 col-md-12 col-xs-12">
      <!-- Advanced search start -->
      <div class="sidebar-widget advanced-search">
        <div class="main-title-2">
          <h1>Advanced Search</h1>
        </div>
        <form method="GET">
          <div class="form-group">
            <div class="dropdown bootstrap-select search-fields">
              <select class="selectpicker search-fields" name="property status">
                <option>Property Status</option>
                <option>For Sale</option>
                <option>For Rent</option></select
              ><button
                type="button"
                tabindex="-1"
                class="btn dropdown-toggle btn-light"
                data-bs-toggle="dropdown"
                role="combobox"
                aria-owns="bs-select-2"
                aria-haspopup="listbox"
                aria-expanded="false"
                title="Property Status"
              >
                <div class="filter-option">
                  <div class="filter-option-inner">
                    <div class="filter-option-inner-inner">Property Status</div>
                  </div>
                </div>
              </button>
              <div class="dropdown-menu">
                <div
                  class="inner show"
                  role="listbox"
                  id="bs-select-2"
                  tabindex="-1"
                >
                  <ul class="dropdown-menu inner show" role="presentation"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown bootstrap-select search-fields">
              <select class="selectpicker search-fields" name="location">
                <option>Location</option>
                <option>United States</option>
                <option>United Kingdom</option>
                <option>American Samoa</option>
                <option>Belgium</option>
                <option>Cameroon</option>
                <option>Canada</option></select
              ><button
                type="button"
                tabindex="-1"
                class="btn dropdown-toggle btn-light"
                data-bs-toggle="dropdown"
                role="combobox"
                aria-owns="bs-select-3"
                aria-haspopup="listbox"
                aria-expanded="false"
                title="Location"
              >
                <div class="filter-option">
                  <div class="filter-option-inner">
                    <div class="filter-option-inner-inner">Location</div>
                  </div>
                </div>
              </button>
              <div class="dropdown-menu">
                <div
                  class="inner show"
                  role="listbox"
                  id="bs-select-3"
                  tabindex="-1"
                >
                  <ul class="dropdown-menu inner show" role="presentation"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown bootstrap-select search-fields">
              <select class="selectpicker search-fields" name="property types">
                <option>Property Types</option>
                <option>Residential</option>
                <option>Commercial</option>
                <option>Land</option></select
              ><button
                type="button"
                tabindex="-1"
                class="btn dropdown-toggle btn-light"
                data-bs-toggle="dropdown"
                role="combobox"
                aria-owns="bs-select-4"
                aria-haspopup="listbox"
                aria-expanded="false"
                title="Property Types"
              >
                <div class="filter-option">
                  <div class="filter-option-inner">
                    <div class="filter-option-inner-inner">Property Types</div>
                  </div>
                </div>
              </button>
              <div class="dropdown-menu">
                <div
                  class="inner show"
                  role="listbox"
                  id="bs-select-4"
                  tabindex="-1"
                >
                  <ul class="dropdown-menu inner show" role="presentation"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="dropdown bootstrap-select search-fields">
              <select class="selectpicker search-fields" name="area from">
                <option>Area From</option>
                <option>1000</option>
                <option>800</option>
                <option>600</option>
                <option>400</option>
                <option>200</option>
                <option>100</option></select
              ><button
                type="button"
                tabindex="-1"
                class="btn dropdown-toggle btn-light"
                data-bs-toggle="dropdown"
                role="combobox"
                aria-owns="bs-select-5"
                aria-haspopup="listbox"
                aria-expanded="false"
                title="Area From"
              >
                <div class="filter-option">
                  <div class="filter-option-inner">
                    <div class="filter-option-inner-inner">Area From</div>
                  </div>
                </div>
              </button>
              <div class="dropdown-menu">
                <div
                  class="inner show"
                  role="listbox"
                  id="bs-select-5"
                  tabindex="-1"
                >
                  <ul class="dropdown-menu inner show" role="presentation"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <div class="dropdown bootstrap-select search-fields">
                  <select class="selectpicker search-fields" name="bedrooms">
                    <option>Bedrooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option></select
                  ><button
                    type="button"
                    tabindex="-1"
                    class="btn dropdown-toggle btn-light"
                    data-bs-toggle="dropdown"
                    role="combobox"
                    aria-owns="bs-select-6"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    title="Bedrooms"
                  >
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Bedrooms</div>
                      </div>
                    </div>
                  </button>
                  <div class="dropdown-menu">
                    <div
                      class="inner show"
                      role="listbox"
                      id="bs-select-6"
                      tabindex="-1"
                    >
                      <ul
                        class="dropdown-menu inner show"
                        role="presentation"
                      ></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <div class="dropdown bootstrap-select search-fields">
                  <select class="selectpicker search-fields" name="bathrooms">
                    <option>Bathrooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option></select
                  ><button
                    type="button"
                    tabindex="-1"
                    class="btn dropdown-toggle btn-light"
                    data-bs-toggle="dropdown"
                    role="combobox"
                    aria-owns="bs-select-7"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    title="Bathrooms"
                  >
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Bathrooms</div>
                      </div>
                    </div>
                  </button>
                  <div class="dropdown-menu">
                    <div
                      class="inner show"
                      role="listbox"
                      id="bs-select-7"
                      tabindex="-1"
                    >
                      <ul
                        class="dropdown-menu inner show"
                        role="presentation"
                      ></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <div class="dropdown bootstrap-select search-fields">
                  <select class="selectpicker search-fields" name="balcony">
                    <option>Balcony</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option></select
                  ><button
                    type="button"
                    tabindex="-1"
                    class="btn dropdown-toggle btn-light"
                    data-bs-toggle="dropdown"
                    role="combobox"
                    aria-owns="bs-select-8"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    title="Balcony"
                  >
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Balcony</div>
                      </div>
                    </div>
                  </button>
                  <div class="dropdown-menu">
                    <div
                      class="inner show"
                      role="listbox"
                      id="bs-select-8"
                      tabindex="-1"
                    >
                      <ul
                        class="dropdown-menu inner show"
                        role="presentation"
                      ></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <div class="dropdown bootstrap-select search-fields">
                  <select class="selectpicker search-fields" name="garage">
                    <option>Garage</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option></select
                  ><button
                    type="button"
                    tabindex="-1"
                    class="btn dropdown-toggle btn-light"
                    data-bs-toggle="dropdown"
                    role="combobox"
                    aria-owns="bs-select-9"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    title="Garage"
                  >
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Garage</div>
                      </div>
                    </div>
                  </button>
                  <div class="dropdown-menu">
                    <div
                      class="inner show"
                      role="listbox"
                      id="bs-select-9"
                      tabindex="-1"
                    >
                      <ul
                        class="dropdown-menu inner show"
                        role="presentation"
                      ></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="range-slider">
            <label>Area</label>
            <div
              data-min="0"
              data-max="10000"
              data-unit="Sq ft"
              data-min-name="min_area"
              data-max-name="max_area"
              class="
                range-slider-ui
                ui-slider
                ui-slider-horizontal
                ui-widget
                ui-widget-content
                ui-corner-all
              "
              aria-disabled="false"
            >
              <span class="min-value">0 Sq ft</span>
              <span class="max-value">10000 Sq ft</span
              ><input
                class="current-min"
                type="hidden"
                name="min_area"
                value="0"
              /><input
                class="current-max"
                type="hidden"
                name="max_area"
                value="10000"
              />
              <div
                class="ui-slider-range ui-widget-header ui-corner-all"
                style="left: 0%; width: 100%"
              ></div>
              <a
                class="ui-slider-handle ui-state-default ui-corner-all"
                href="#"
                style="left: 0%"
              ></a
              ><a
                class="ui-slider-handle ui-state-default ui-corner-all"
                href="#"
                style="left: 100%"
              ></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="range-slider">
            <label>Price</label>
            <div
              data-min="0"
              data-max="150000"
              data-unit="USD"
              data-min-name="min_price"
              data-max-name="max_price"
              class="
                range-slider-ui
                ui-slider
                ui-slider-horizontal
                ui-widget
                ui-widget-content
                ui-corner-all
              "
              aria-disabled="false"
            >
              <span class="min-value">0 USD</span>
              <span class="max-value">150000 USD</span
              ><input
                class="current-min"
                type="hidden"
                name="min_price"
                value="0"
              /><input
                class="current-max"
                type="hidden"
                name="max_price"
                value="150000"
              />
              <div
                class="ui-slider-range ui-widget-header ui-corner-all"
                style="left: 0%; width: 100%"
              ></div>
              <a
                class="ui-slider-handle ui-state-default ui-corner-all"
                href="#"
                style="left: 0%"
              ></a
              ><a
                class="ui-slider-handle ui-state-default ui-corner-all"
                href="#"
                style="left: 100%"
              ></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group mb-0">
            <button type="submit" class="button-md button-theme btn-3 w-100">
              Search
            </button>
          </div>
        </form>
      </div>
      <!-- Advanced search end -->

      <!-- Category posts start -->
      <div class="sidebar-widget category-posts">
        <div class="main-title-2">
          <h1>Popular Category</h1>
        </div>
        <ul class="list-unstyled list-cat">
          <li><a href="#">Single Family </a> <span>(45) </span></li>
          <li><a href="#">Apartment </a> <span>(21) </span></li>
          <li><a href="#">Condo </a> <span>(23) </span></li>
          <li><a href="#">Multi Family </a> <span>(19) </span></li>
          <li><a href="#">Villa </a> <span>(19) </span></li>
          <li><a href="#">Other </a> <span>(22) </span></li>
        </ul>
      </div>
      <!-- Category posts end -->

      <!-- Popular posts start -->
      <div class="sidebar-widget popular-posts">
        <div class="main-title-2">
          <h1>Recent Properties</h1>
        </div>
        <div class="d-flex mb-3 popular-posts-box">
          <a class="pr-3" href="properties-details.html">
            <img
              src="img/properties/small-properties-2.jpg"
              alt="small-photo"
              class="flex-shrink-0 me-3"
            />
          </a>
          <div class="detail align-self-center">
            <h4>
              <a href="properties-details.html">Modern Family Home</a>
            </h4>
            <div class="listing-post-meta">
              Sep 18, 2021 | <a href="#">$470,00</a>
            </div>
          </div>
        </div>
        <div class="d-flex mb-3 popular-posts-box">
          <a class="pr-3" href="properties-details.html">
            <img
              src="img/properties/small-properties-1.jpg"
              alt="small-photo"
              class="flex-shrink-0 me-3"
            />
          </a>
          <div class="detail align-self-center">
            <h4>
              <a href="properties-details.html">Sweet Family Home</a>
            </h4>
            <div class="listing-post-meta">
              Aug 18, 2020 | <a href="#">$485,00</a>
            </div>
          </div>
        </div>
        <div class="d-flex popular-posts-box">
          <a class="pr-3" href="properties-details.html">
            <img
              src="img/properties/small-properties-3.jpg"
              alt="small-photo"
              class="flex-shrink-0 me-3"
            />
          </a>
          <div class="detail align-self-center">
            <h4>
              <a href="properties-details.html">Beautful Single Home</a>
            </h4>
            <div class="listing-post-meta">
              Aug Feb, 2021 | <a href="#">$850,00</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Popular posts end -->

      <!-- Helping box Start -->
      <div class="sidebar-widget helping-box clearfix">
        <div class="main-title-2">
          <h1>Helping Center</h1>
        </div>
        <div class="helping-center">
          <div class="icon"><i class="fa fa-map-marker"></i></div>
          <h4>Address</h4>
          <p>123 Kathal St. Tampa City,</p>
        </div>
        <div class="helping-center">
          <div class="icon"><i class="fa fa-phone"></i></div>
          <h4>Phone</h4>
          <p><a href="tel:+55-417-634-7071">+55 417 634 7071</a></p>
        </div>
      </div>
      <!-- Helping box end -->

      <!-- Latest reviews start -->
      <div class="sidebar-widget latest-reviews mb-30">
        <div class="main-title-2">
          <h1>Latest Reviews</h1>
        </div>
        <div class="latest-reviews-box d-flex mb-4">
          <a class="pr-3" href="#">
            <img
              src="img/avatar/avatar-1.jpg"
              alt="avatar"
              class="flex-shrink-0 me-3"
            />
          </a>
          <div class="detail">
            <h3><a href="#">John Antony</a></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiamrisus tortor, accumsan at,
            </p>
          </div>
        </div>
        <div class="latest-reviews-box d-flex">
          <a class="pr-3" href="#">
            <img
              src="img/avatar/avatar-2.jpg"
              alt="avatar"
              class="flex-shrink-0 me-3"
            />
          </a>
          <div class="detail">
            <h3><a href="#">Karen Paran</a></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiamrisus tortor, accumsan at,
            </p>
          </div>
        </div>
      </div>
      <!-- Latest reviews end -->
    </div>
  </div>
</div>
